:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121a20;
}

body {
  margin: 5px;
  display: flex;
  min-width: 320px;
  /* min-height: 100vh; */
  width: 100vw;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 10px;
}
#root {
  height: 100vh; /* Or 100dvh for dynamic viewport */
  overflow-y: auto; /* Allows scrolling *inside* app, not the whole page */
}
