:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121a20;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important; /* Override your 10px margin */
  padding: 5px; /* Move margin here as padding */
  height: var(--tg-viewport-height, 100vh); /* Fallback to vh */
  width: var(--tg-viewport-width, 100vw);
  overflow: hidden;
}

body {
  display: flex;
  min-width: 320px;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
